* {
	font-family: "Droid Sans", sans-serif !important;
}

#inner-content {
	width: 100%;
	height: 100%;
	padding-top: 40px;
	padding-left: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
}

footer {
	margin-top: 1em;
}