/*!
 * Twitchy duder
 *
 * Copyright 2012 Cory Todd
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 *
* {
	margin:0; 
	padding:0;
}
*/
tw_body {
	text-align: center;
}

.duder {
	position: absolute;
	top: 10;
	z-index: 10;
	width: 80%;
	text-align: center;
}

.duder ul {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	margin: 0;
}

.duder li {
	display: inline-block;
	position: relative;
	margin: 0 1px;
	margin-bottom: 15px;
	vertical-align: center;
}

.duder a {
	display: inline-block;
	cursor: default;
	outline: none;
}

.duder img {
	width: auto;
	height: auto;
	border: none;
}

.dangle {
	position: absolute;
	top: 5px;
	z-index: 10;
	width: 100%;
	text-align: center;
}

#bodycontainer {
	position: relative;
	margin: 10px auto;
	top: 225;
	z-index: 1;
	right: 1;
	-webkit-animation-name: twitch;
	-webkit-animation-duration: 25s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-moz-animation-name: twitch;
	-moz-animation-duration: 25s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: alternate;
}

@
-webkit-keyframes twitch { 0% {
	-webkit-transform: skew(0deg, 1deg);
	-moz-transform: skew(0deg, 1deg);
}
10%
{
-webkit-transform


:

 

skew


(2
deg
,
2
deg


);
-moz-transform


:

 

skew


(2
deg
,
2
deg


);
}
20%
{
-webkit-transform


:

 

skew


(4
deg
,
3
deg


);
-moz-transform


:

 

skew


(4
deg
,
3
deg


);
}
30%
{
-webkit-transform


:

 

skew


(6
deg
,
4
deg


);
-moz-transform


:

 

skew


(6
deg
,
4
deg


);
}
40%
{
-webkit-transform


:

 

skew


(8
deg
,
5
deg


);
-moz-transform


:

 

skew


(8
deg
,
5
deg


);
}
50%
{
-webkit-transform


:

 

skew


(4
deg
,
6
deg


);
-moz-transform


:

 

skew


(4
deg
,
6
deg


);
}
60%
{
-webkit-transform


:

 

skew


(2
deg
,
2
deg


);
-moz-transform


:

 

skew


(2
deg
,
2
deg


);
}
70%
{
-webkit-transform


:

 

skew


(1
deg
,
3
deg


);
-moz-transform


:

 

skew


(1
deg
,
3
deg


);
}
80%
{
-webkit-transform


:

 

skew


(4
deg
,
4
deg


);
-moz-transform


:

 

skew


(4
deg
,
4
deg


);
}
90%
{
-webkit-transform


:

 

skew


(6
deg
,
4
deg


);
-moz-transform


:

 

skew


(6
deg
,
4
deg


);
}
100%
{
-webkit-transform


:

 

skew


(8
deg

 

2
deg


);
-moz-transform


:

 

skew


(8
deg

 

2
deg


);
}
}