<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{template "tmpl_header"}}

<!-- Navbar -->
{{template "tmpl_navbar"}}

 <style type="text/css">
   body {
     padding-top: 60px;
   }
   h1{
     font-size:36pt;
   }
   footer p{
     text-align:center;
   }
   footer{
     position:absolute;
     bottom:5px;
     width:100%;
   }
   .golookpaste{
     margin-top:40px;
     text-align:left;
   }
 </style>

<body>

	<div class="container">

		<div class="golookpaste">
			<h2 class="pull-center">We'resorry, the page you requested is not available.</h2>
			<div class="span12">
				<div class="span4" align="center">
					<img src="../static/img/peanut.png">
				</div>
			</div>
			<br>
			<br>
			<div align="center">
				<h3>{{.Err}}</h3>
			</div>
		</div>
	</div>
	<!-- Footer -->
	{{template "tmpl_footer"}}
</body>
</html>
