<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{template "tmpl_header"}}

<!-- Navbar -->
{{template "tmpl_navbar"}}

 <style type="text/css">
   body {
     padding-top: 60px;
   }
   h1{
     font-size:36pt;
   }
   footer p{
     text-align:center;
   }
   footer{
     position:absolute;
     bottom:5px;
     width:100%;
   }
   .golookpaste{
     margin-top:40px;
     text-align:left;
   }
 </style>

<body>
	<!-- Footer -->
	{{template "tmpl_footer"}}
</body>
</html>