<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{template "tmpl_header"}}

<!-- Navbar -->
{{template "tmpl_navbar"}}

 <style type="text/css">
   body {
     padding-top: 60px;
   }
   h1{
     font-size:36pt;
   }
   footer p{
     text-align:center;
   }
   footer{
     position:absolute;
     bottom:5px;
     width:100%;
   }
   .golookpaste{
     margin-top:40px;
     text-align:left;
   }
 </style>

<body>

	<div class="container">

		<div class="golookpaste">
		<div class="sidebar">
			<div class="well span4">
				<h2>Filter Results</h2>
				<div class="cleaner_h20"></div>
				<input type="text" placeholder="Search" class="span4"
					value="{{.Data.Query}}" />
				<div class="cleaner_h10"></div>
				<select required class="span4" name="language">
					<option value="c">C</option>
					<option value="c#">C#</option>
					<option value="coldfire">Coldfire</option>
					<option value="go">Go!</option>
					<option value="hc12">HC12</option>
					<option value="java">Java</option>
					<option value="s08">S08</option>
					<option value="shell">Shell</option>
					<option value="vb">VB</option>
					<option value="js">Javascript</option>
				</select>
				<div class="cleaner_h20"></div>
				<button class="btn">Reset</button>
				<button class="btn primary">Update</button>
			</div>
		</div>
		<div class="content">
			<table class='zebra-striped' id='main-items'>
		            <thead>
		                <tr>
							<th class='span2'>Title</th>
							<th class='span2'>Language</th>
		                    <th class='span2'>Date</th>
							<th class='span2'>Owner</th>
		                    <th class='span2'>ID</th>
		                </tr>
		            </thead>
		            <tbody>
					{{.Mtable}}
	            </tbody>
       		</table>
		</div>
	</div>

	<!-- Footer -->
	{{template "tmpl_footer"}}
</body>
</html>