<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{template "tmpl_header"}}

<!-- Navbar -->
{{template "tmpl_navbar"}}

 <style type="text/css">
   body {
     padding-top: 60px;
   }
   h1{
     font-size:36pt;
   }
   footer p{
     text-align:center;
   }
   footer{
     position:absolute;
     bottom:5px;
     width:100%;
   }
   .main-content{
     margin-top:100px;
     text-align:center;
   }
 </style>

<body>

	<!-- Search box -->
	<div class="container-fluid">

		<div class="main-content">
			<h1>Go!</h1>
			<div class="cleaner_h40"></div>
			<form action="/browse" method="POST">
				<input type="text" class="span12" name="query" />
				<div class="cleaner_h20"></div>
				<button class="btn large primary" type="submit">Search</button>
			</form>
		</div>
	</div>

	<!-- Footer -->
	{{template "tmpl_footer"}}
</body>
</html>