<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{template "tmpl_header"}}

<!-- Navbar -->
{{template "tmpl_navbar"}}

 <style type="text/css">
   body {
     padding-top: 60px;
   }
   h1{
     font-size:36pt;
   }
   footer p{
     text-align:center;
   }
   footer{
     position:absolute;
     bottom:5px;
     width:100%;
   }
   .golookpaste{
     margin-top:40px;
     text-align:left;
   }
 </style>

<body>

	<div class="container">

		<div class="golookpaste">
			<h2 class="pull-left">Look!</h2>
			<div class="pull-right"><h4 class="pull0right">Recent Activity</h4></div>
			<div class='cleaner_h5'></div>
			<div class="page-header"></div>
			<div class='cleaner_h20'></div>
			<div class="row">
				<div class="span-two-thirds">
				<pre class="prettyprint linenums prettyprinted" style>{{.Mpaste.Body}}</pre>
			</div>
			<div class="span-one-third">
					 <table class='zebra-striped' id='main-items'>
			            <thead>
			                <tr>
			                    <th class='span4'>Date</th>
			                    <th class='span2'>ID</th>
			                </tr>
			            </thead>
			            <tbody>
						{{.Mtable}}
		            </tbody>
        		</table>
			</div>
		</div>
	</div>

	<!-- Footer -->
	{{template "tmpl_footer"}}
</body>
</html>

