<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{template "tmpl_header"}}

<!-- Navbar -->
{{template "tmpl_navbar"}}

 <style type="text/css">
   body {
     padding-top: 60px;
   }
   h1{
     font-size:36pt;
   }
   footer p{
     text-align:center;
   }
   footer{
     position:absolute;
     bottom:5px;
     width:100%;
   }
   .golookpaste{
     margin-top:40px;
     text-align:left;
   }
 </style>

<body>

	<div class="container">

		<div class="golookpaste">
			<h2 class="pull-left">Paste!</h2>
			<div class="pull-right"><h4 class="pull0right">Recent Activity</h4></div>
			<div class='cleaner_h5'></div>
			<div class="page-header"></div>
			<div class='cleaner_h20'></div>
			<div class="row">
				<div class="span-two-thirds">
					<form action="/look" method="POST">
						<input type="text" placeholder="Title" class="span4" name="title"/>
						<div class="cleaner_h10"></div>					
						<select required class="span4" name="language">
							<option value="c">C</option>
							<option value="c#">C#</option>
							<option value="coldfire">Coldfire</option>
							<option value="go">Go!</option>
							<option value="hc12">HC12</option>
							<option value="java">Java</option>
							<option value="s08">S08</option>
							<option value="shell">Shell</option>
							<option value="vb">VB</option>
							<option value="js">Javascript</option>							
						</select>
						<div class="cleaner_h10"></div>
						<textarea autofocus class='pull-left create_paste' id='main-input'
							name="paste_bin" id="paste_bin"
							style="resize: none; overflow-y: hidden;"></textarea>
						<div class='cleaner_h20'></div>						
						<button type="submit" class="pull-right btn large primary">Paste</button>
					</form>
				</div>
				<div class="span-one-third">
				<div class="span-one-third">
					 <table class='zebra-striped' id='main-items'>
			            <thead>
			                <tr>
			                    <th class='span4'>Date</th>
			                    <th class='span2'>ID</th>
			                </tr>
			            </thead>
			            <tbody>
						{{.Mtable}}
		            	</tbody>
        			</table>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	{{template "tmpl_footer"}}
</body>
</html>
